footer {
    padding-top: $spacing * 3;
    color: grey;

    .contact {
        float: left;
        width: calc(100% / 3);

        span {
            display: block;
        }

        img {
            display: block;
        }
    }

    .left-info, .right-info {
        padding-left: $spacing;
        float: left;
        width: calc(100% / 3);

        h2 {
            padding-top: $spacing / 2;
            text-transform: uppercase;
        }

        ul {
            list-style-type: none;

            a {
                text-decoration: none;
                color: grey;
                line-height: 30px;
            }
        }
    }

    img {
        max-width: 100%;
    }
}
