header {
    margin-bottom: $spacing;
    margin-top: $spacing;

    #logo {
        display: flex;
        justify-content: center;
        margin-bottom: $spacing;
    }

    .header-menu {
        display: flex;
        justify-content: center;

        ul {
            list-style-type: none;

            li {
                display: inline-block;

                a {
                    text-decoration: none;
                    padding: $spacing;
                    color: $color;
                    font-size: $menuFont;

                    &.active {
                        background-color: #B8DAE4;
                    }
                }

            }
        }
    }
}
